<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travello</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Header -->
    <div class="headerWrapper">

        <div class="navigation">
            <div class="headerDiv">Places</div>
            <div class="headerDiv">About</div>
            <div class="headerDiv">Packges</div>
            <div class="headerDiv" id="tingo">TingoTravel</div>
            <div class="headerDiv">Gallery</div>
            <div class="headerDiv">Team</div>
            <div class="headerDiv">Contact Us</div>
        </div>

        <div class="headertext">
            <h1 id="h1txt">Travello</h1>
            <p id="ptxt">Worlds Best Travel Agency</p>
        </div>

        <div id="bbooknow">
            <button id="booknow">Book Now</button>
        </div>
    </div>
    <!-- End of Header -->

    <!-- Footer -->
    <div class="footerWrapper">|
        <hr id="myhr">

        <div class="footertxt">
            <p>Subscribe</p>
            <p>to our newslatter</p>
        </div>

        <div id="inputdiv">
            <form class="myform">
                <input type="email" placeholder="Enter your email" name="search">
                <button type="submit">Subscribe</button>
            </form>
        </div>

        <div class="mainfooter">
            <div class="travel">
                <h2>Travel</h2>
                <p>Find Travel</p>
                <p>Find Travallers</p>
                <p>I'm a Travaller</p>
            </div>

            <div class="company">
                <h2>Company</h2>
                <p>The Team</p>
                <p>About Us</p>
                <p>Blog</p>
            </div>

            <div class="resources">
                <h2>Resources</h2>
                <p>Support</p>
                <p>Contact</p>
                <p>Term & Service</p>
            </div>

            <div class="followus">
                <h2>Tingo Travel</h2>
                <p id="socialid">Follow us on</p>
                <div id="icons">
                    <div class="socialmediaicons">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="socialmediaicons">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="socialmediaicons">
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="socialmediaicons">
                        <i class="fa fa-pinterest"></i>
                    </div>
                    <div class="socialmediaicons">
                        <i class="fa fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Footer -->
</body>

</html>