@media screen and (max-width: 1920px) {
    /* Body + Buttons Styling*/
    body {
        background: linear-gradient(to right, #e96443, #904e95);
        overflow-x: hidden;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "buttoncontainer buttoncontainer buttoncontainer buttoncontainer"
            "containerParent containerParent containerParent containerParent"
            "containerParent containerParent containerParent containerParent"
            "statistics statistics statistics statistics"
        } 
    #buttoncontainer {
        display: flex;
        flex: 1;
        justify-content: space-around;
        font-style: oblique;
        color: grey;
        margin: 0;
        text-align: center;
        padding: 5px;
        grid-area: buttoncontainer;
    }
    #buttoncontainer button {
        flex: 0.2.5;
        margin: 5px;
    }
    #add {
        font-size: 1.5em;
        border: 1px solid limegreen;
        border-radius: 20px;
        color: white;
        background-color:limegreen;
    }  
    #remove {
        font-size: 1.5em;
        border: 1px solid red;
        border-radius: 20px;
        color: white;
        background-color:red;
    } 
    #update {
        font-size: 1.5em;
        border: 1px solid blue;
        border-radius: 20px;
        color: white;
        background-color:blue;
    }
    #buttoncontainer > div {
        padding-top: 5px;
        color: slateblue;
        font-size: 2em;
    }
    /* --- END ---   Body / Buttons Styling   --- END --- */

    /* Names + Average + Table */
    #containerParent {
        overflow: hidden;
        margin: 6px;
        display: flex;
        flex-direction: row;
        grid-area: containerParent;
    }
    .dateDiv {
        background: green;
        color: white;
        padding-top: 15px;
        width: 50px;
        height: 55px;
        margin: 1px;
        text-align: center;
        border-radius: 6px;     
    }
    .studentGrades {
        background: red;
        color: white;
        padding-top: 15px;
        width: 50px;
        height: 40px;
        margin: 1.5px;
        text-align: center;
        border-radius: 6px;
    }   
    #container3 {
        align-content: flex-start;
        margin: 0 auto;
        display: flex;
        flex-flow:  column wrap;
        flex-direction: column-reverse;
        height: 680px;
        width: 1300px;
        overflow: auto;
        position: relative;
        bottom: 25px;
    }
    .class1 {
        margin: 2.5px;
        background-color: lightgrey;
        padding-top: 15px;
        width: 200px;
        height: 40px;
        text-align: center;
        color: purple;
        border-radius: 6px;
        font-size: 1.5em;
        font-style: italic;
    }
    #filler {
        padding-top: 15px;
        font-size: 1.5em;
        font-style: italic;
        width: 200px;
        height: 55px;
        margin: 2.5px;
        background-color: lightgrey;
        text-align: center;
        color: navy;
        border-radius: 6px;
    }
    .average {
        background-color: lightseagreen;
        font-size: 1.5em;
        color: white;
        font-style: italic;
        padding-top: 15px;
        width: 150px;
        height: 40px;
        margin: 2.5px;
        text-align: center;
        border-radius: 6px;
    }    
    #average {
        background-color: lightseagreen;
        font-size: 1.5em;
        padding-top: 15px;
        font-style: italic;
        color: white;
        width: 150px;
        height: 55px;
        margin: 2.5px;
        text-align: center;
        border-radius: 6px;
    }
    /* --- END --- Names + Average + Table --- END --- */
    
    /* Statistics Styling */
    .statistics {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: blue;
        grid-area: statistics;
        font-size: 1.5em;
    }
    
    .statistics p {
        justify-content: center;
        color: palegreen;
        font-style: italic;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
    
    span {
        color: red; 
    }}
    /* --- END --- Statistics Styling --- END ---*/
    

    /* Media Query Max-Width 990px */
    @media screen and (max-width: 990px) {
    body {
        background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "statistics statistics statistics"
        "containerParent containerParent containerParent"
        "containerParent containerParent containerParent"
        "buttoncontainer buttoncontainer buttoncontainer "
        }
        .statistics {
            flex-direction: column;
            /* margin-top: 10px; */
            color: wheat;
            grid-area: statistics;
            font-size: 1.2em;
        }
        #buttoncontainer button {
            font-size: 1em;
        }
        .class1 {
            background-color: lightgrey;
            padding-top: 10px;
            width: 100px;
            height: 35px;
            margin: 2.5px;
            text-align: center;
            color: purple;
            border-radius: 6px;
            font-size: 0.86em;
            font-style: italic;
        }
        #filler {
            background-color: lightgrey;
            padding-top: 10px;
            font-size: 1.2em;
            font-style: italic;
            width: 100px;
            height: 30px;
            margin: 2.5px;
            text-align: center;
            color: navy;
            border-radius: 6px;
        }
        .average {
            background-color: lightseagreen;
            font-size: 1.5em;
            color: white;
            font-style: italic;
            padding-top: 10px;
            width: 100px;
            height: 35px;
            margin: 2.5px;
            text-align: center;
            border-radius: 6px;
        }    
        #average {
            background-color: lightseagreen;
            font-size: 1.5em;
            padding-top: 10px;
            font-style: italic;
            color: white;
            width: 100px;
            height: 30px;
            margin: 2.5px;
            text-align: center;
            border-radius: 6px;
        }
        .dateDiv {
            background: green;
            color: white;
            width: 35px;
            height: 30px;
            margin: 2px;
            text-align: center;
            border-radius: 6px;     
        }
        .studentGrades {
            background: red;
            color: white;
            width: 35px;
            height: 28px;
            margin: 2px;
            text-align: center;
            border-radius: 6px;
        }   
        #container3 {
            align-content: flex-start;
            margin: 0 auto;
            flex-wrap: wrap;
            height: 540px;
            width: 450px;
            overflow: auto;
            position: relative;
            bottom: 15px;
        } 
        span {
            color: white;
        }
    }
    /* --- END --- Media Query Max-Width 990px --- END ---*/

    /* Media Query Max-Width 550px */

    @media screen and (max-width: 550px) {
        body {
        background: linear-gradient(to right, #544a7d, #009FFF, #ffd452);
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "statistics"
        "buttoncontainer"
        "containerParent"
        "containerParent"
        }
        .statistics {
            flex-direction: column;
            color: wheat;
            grid-area: statistics;
            font-size: 1.1em;
        }
        #buttoncontainer button {
            font-size: 0.8em;
        }
        .class1 {
            background-color: lightgrey;
            padding-top: 10px;
            width: 70px;
            height: 35px;
            margin: 2.5px;
            text-align: center;
            color: purple;
            border-radius: 6px;
            font-size: 0.86em;
            font-style: italic;
        }
        #filler {
            background-color: lightgrey;
            padding-top: 10px;
            font-size: 1.2em;
            font-style: italic;
            width: 70px;
            height: 50px;
            margin: 2.5px;
            text-align: center;
            color: navy;
            border-radius: 6px;
        }
        .average {
            background-color: lightseagreen;
            font-size: 1.5em;
            color: white;
            font-style: italic;
            padding-top: 10px;
            width: 70px;
            height: 35px;
            margin: 2.5px;
            text-align: center;
            border-radius: 6px;
        }    
        #average {
            background-color: lightseagreen;
            font-size: 1.2em;
            font-style: italic;
            color: white;
            width: 70px;
            height: 50px;
            margin: 2.5px;
            text-align: center;
            border-radius: 6px;
        }
        .dateDiv {
            background: green;
            color: white;
            width: 40px;
            height: 50px;
            margin: 2px;
            text-align: center;
            border-radius: 6px;     
        }
        .studentGrades {
            background: red;
            color: white;
            width: 40px;
            height: 30px;
            margin: 1px;
            text-align: center;
            border-radius: 6px;
        }   
        #container3 {
            align-content: flex-start;
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
            flex-direction: column-reverse;
            height: 570px;
            width: 180px;
            overflow: auto;
            position: relative;
            bottom: 25px;
        } 
        span {
            color: black;
        }
    }