.divclass1 {
    background-color:black;
    padding:7px;
    width: 445px;
    border-radius:15px;
}
#facultynames {
    margin-top: 60px;
}
#facnames {
    list-style-type: none;
}
#green {
    background-color:green;
    padding:4px;
    width: 500px;
    border-radius:15px;
}
#red {
    background-color:red;
    padding:4px;
    width: 500px;
    border-radius:15px;
}
#blue {
    background-color:blue;
    margin-left: 69%;
    padding:4px;
    width: 500px;
    border-radius:15px;
}
#header2 {
    margin-left:65%;
}
